html,
body {
  overflow-x: hidden;
  min-width: 318px;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: Lato;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: white;
}

:root {
  --bgcol: #37517e;
  --shapecol: #405f96;
  --logocol: #00b9ff;
  --hovercol: #00a4df;
  --buttoncol: #2ed06e;
  --linkcol: #f1f4f7;
  --darkblue: #253756;
}

/* Background */

#bg {
  position: relative;
  background: var(--bgcol);
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

#bgsquare {
  background: var(--shapecol);
  position: absolute;
  bottom: -20px;
  width: 550px;
  height: 46vh;
  z-index: 0;
}

#bgsquare::after {
  content: "";
  position: absolute;
  right: 0;
  border-left: 120px solid transparent;
  border-bottom: 45vh solid var(--bgcol);
}

#bgcircle {
  background: var(--shapecol);
  position: absolute;
  left: 60%;
  bottom: -5vh;
  height: 45vh;
  width: 90vh;
  border-top-left-radius: 90vh;
  border-top-right-radius: 90vh;
  z-index: 0;
}

#bgcircle::after {
  content: "";
  background: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5vh;
}

/* Navigation bar */
#navbar {
  position: relative;
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  z-index: 3;
}

#mobileMenuIcon {
  display: none;
  float: left;
  background: url(https://archive.li/ktlVH/ea77e5dbf135f7cdb101213a677a98ba8c1f7c55.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 6px -36px 0 -3.5%;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

#logoBox {
  float: left;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/TransferWise_logo.svg/2000px-TransferWise_logo.svg.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 13px -32px 0 0;
  height: 20px;
  width: 112px;
}

.menuIcons {
  display: none;
}

#navLinks {
  display: inline-block;
  float: right;
  list-style: none;
  font-size: 13px;
  z-index: 3;
}

li {
  display: inline-block;
  padding: 17px 12px;
  margin: 0 -2px;
}

.dropLink {
  position: relative;
  cursor: pointer;
}

#logInLink:hover {
  cursor: pointer;
  color: var(--logocol);
}

.dropLink:hover .dropLinkContent {
  display: block;
}

.dropLinkContent {
  display: none;
  position: absolute;
  background: white;
  padding: 8px;
  margin-top: 15px;
  right: 0;
  border-radius: 3px;
  box-shadow: 0 0 30px 8px rgba(0, 0, 0, 0.1);
}

.dropLinkContent::after {
  content: "▲";
  position: absolute;
  top: -11px;
  right: 12px;
  color: white;
}

.dropLinkContent a {
  display: block;
  padding: 16px 12px;
  white-space: nowrap;
  border-radius: 3px;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #283b60;
}

.dropLinkContent a:hover {
  background: var(--linkcol);
}

#signupLink {
  background: #8797b2;
  position: relative;
  float: right;
  padding: 6px 12px;
  margin: 11px 0 0 -4px;
  border-radius: 2px;
  font-size: 13px;
  font-weight: bold;
}

#signupLink:hover {
  background: var(--darkblue);
  color: var(--logocol);
}

#overlay {
  background: black;
  display: none;
  position: fixed;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  cursor: pointer;
}

/* Main content: Hero page */
#heroPage {
  position: relative;
  margin: 14vh auto 34px auto;
  width: 90%;
  max-width: 1100px;
  z-index: 1;
}

#leftBox {
  float: left;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  width: 48%;
}

h1 {
  font-size: 36px;
}

h1::after {
  content: ".";
  color: var(--logocol);
}

#introDetails {
  margin: 4vh 0 6vh 0;
  line-height: 22px;
}

#introDetails p {
  letter-spacing: 0.04em;
}

#leftBox a {
  color: var(--logocol);
  font-weight: bold;
}

.howItWorks {
  background: var(--bgcol);
  padding: 12px;
  line-height: 16px;
  width: 150px;
  border-radius: 3px;
  border: 1px solid var(--logocol);
  color: var(--logocol);
  font-weight: bold;
}

.howItWorks:hover {
  background: var(--logocol);
  color: white;
  cursor: pointer;
}

#accBox {
  margin: 100px 0 0 0;
  width: 100%;
  line-height: 22px;
  font-weight: bold;
}

.accreditation {
  width: 50%;
  margin: 6px 0;
}

.accreditation figcaption {
  margin: 3px;
  width: 210px;
}

.accreditation img {
  float: left;
  margin-right: 10px;
  height: 70px;
  width: 70px;
}

#tuvacc {
  float: left;
}

#custacc {
  float: right;
}

/* Right side of page */
#rightBox {
  background: var(--bgcol);
  float: right;
  margin: 0 0 34px 2%;
  width: 48%;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: -2px -1px 40px 0 rgb(0, 0, 0, 0.15),
    1px 3px 30px 0 rgb(55, 81, 126, 0.7);
}

#tabs {
  background: #253655;
  display: flex;
  justify-content: space-between;
}

.tab {
  background: linear-gradient(35deg, #25375f, #2c4060);
  padding: 20px 0;
  line-height: 27px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  flex: 1;
}

.tab:hover {
  background: var(--darkblue);
}

.tabText {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.tabIcon {
  color: var(--logocol);
}

.selectedTab, .selectedTab:hover, .selectedTab p {
  background: var(--bgcol);
  color: white;
}

.tabContents {
  position: relative;
  display: block;
  margin: 34px;
}

#sendTabContent {
  
}

#receiveTabContent {
  display: none;
  height: 340px;
}

#debitTabContent {
  display: none;
  height: 360px;
}

.cashBox {
  background: white;
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 4px;
}

.cashBox:hover {
  box-shadow: 0 0 1px 1px var(--logocol);
}

.cashBoxError {
  box-shadow: 0 0 0px 1.5px #C73B3B;
}

.cashBox p {
  padding: 9px 7px 0 7px;
  margin-left: 2px;
  width: 70%;
  font-size: 13px;
  color: var(--shapecol);
}

.cashBox input[type="text"] {
  padding: 0 7px 9px 7px;
  width: 70%;
  color: #2e4369;
  font-size: 22px;
  border: none;
  border-radius: 4px;
}

.cashBox input[type="text"]::placeholder {
  color: #2e4369;
  opacity: 1;
}

.cashBox input[type="text"]:focus {
  outline: none;
}

#receiveValue {
  margin-top: 6px;
}

#insuffFunds {
  display: none;
  position: relative;
  background: #FFDFDF;
  border-radius: 0 0 3px 3px;
}

#insuffFunds::before {
  content: "▲";
  position: absolute;
  margin: -16px 0 0 16px;
  color: #FFDFDF;
}

#insuffFunds p {
  padding: 5px 15px;
  width: 99%;
  color: #C73B3B;
}

.currButton {
  background: #2e4369;
  position: absolute;
  right: 0;
  padding: 18.5px 0;
  width: 30%;
  height: 100%;
  cursor: pointer;
  border: none;
  border-radius: 0 3px 3px 0;
  text-align-last: center;
  font-size: 18px;
  font-weight: bold;
}

#bgline {
  background: #253655;
  position: absolute;
  left: 16px;
  top: 61px;
  width: 2px;
  height: 150px;
}

.bgLineCircle {
  background: #253655;
  position: absolute;
  margin-left: -3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

#bgCir1 {
  margin-top: 60px;
}

#bgCir2 {
  margin-top: 90px;
}

#bgCir3 {
  margin-top: 120px;
}

#newCalcGrid {
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 30px 0px 30px;
  margin-left: 30px;
}

#feeButton {
  position: relative;
  display: inline-block;
  margin: 16px 9px;
  cursor: pointer;
  font-weight: bold;
  color: var(--logocol);
}

#feeButton::before {
  content: "▼ ";
}

#fee {
  font-weight: bold;
}

.feeDetails {
  visibility: hidden;
}

#newCalcGrid select {
  background: #2e4369;
  padding: 5px;
  margin-top: -5px;
  margin-right: 3px;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-size: 13px;
}

#newCalcGrid a {
  text-decoration: none;
  border-bottom: 1px dotted var(--logocol);
  color: #d3d5d8;
}

#convert {
  margin-right: 5px;
}

#savings p {
  margin: 20px 0;
  line-height: 22px;
}

#doubleButtons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

#compareButton,
#getStartedButton {
  flex: 1;
  padding: 13px;
  min-height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

#compareButton {
  background: var(--logocol);
  margin-right: 10px;
}

#compareButton:hover {
  background: #00a4df;
}

#getStartedButton {
  background: var(--buttoncol);
  margin-left: 10px;
}

#getStartedButton:hover {
  background: #28b862;
}

#HIWmobileButton {
  display: none;
  margin: auto;
}

/* Media queries */
@media only screen and (max-width: 925px) {
  #logoBox {
    background-image: url(https://s3-us-west-1.amazonaws.com/chuladoblog/blog/wp-content/uploads/20181030041255/transferwise-logo.png);
    width: 22px;
    height: 22px;
  }

  li {
    padding-left: 0;
  }

  h1 {
    margin-bottom: 30px;
  }

  #introDetails,
  #HIWlaptopButton,
  #accBox,
  #bgsquare,
  #bgcircle {
    display: none;
  }

  #heroPage {
    width: 80%;
  }

  #leftBox {
    float: none;
    width: 100%;
    align-items: center;
  }

  #rightBox {
    float: none;
    width: 100%;
    margin-left: 0;
  }

  #HIWmobileButton {
    display: block;
  }
}

@media only screen and (max-width: 710px) {
  #logoBox {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/TransferWise_logo.svg/2000px-TransferWise_logo.svg.png);
    margin-left: 32px;
    height: 20px;
    width: 112px;
  }

  #mobileMenuIcon {
    display: inline-block;
  }
  
  #mobMenClose {
    position: absolute;
    display: none;
    top: 10px;
    left: 260px;
    color: var(--logocol);
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    z-index: 3;
  }
  
  #mobMenClose:hover {
    color: #0082ce;
  }
  
  #navLinks {
    background: white;
    display: none;
    position: fixed;
    float: none;
    top: 0;
    left: 0;
    padding: 6px;
    height: 100vh;
    width: 276px;
  }
  
  #navLinks li {
    display: block;
    padding: 18px 26px;
    margin-top: -8px;
    border-bottom: thin solid var(--linkcol);
    color: var(--bgcol);
    font-size: 16px;
    text-align: left;
  }
  
  .menuIcons {
    display: inline-block;
    margin-right: 6px;
    font-size: 22px;
    color: var(--bgcol);
  }
  
  .dropLink:hover .dropLinkContent, .dropLinkContent {
    display: none;
    position: relative;
    margin: 8px -20px -16px -20px;
    box-shadow: none;
    font-size: 14px;
  }
  
  .dropLinkContent a {
    padding: 10px 12px;
  }

  #signupLink {
    margin: 11px 0;
  }

  h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 38px;
  }

  p, #newCalcGrid {
    font-size: 13px;
  }
  
  .tabIcon {
    font-size: 16px;
  }

  #newCalcGrid select {
    margin-top: 0px;
    font-size: 12px;
  }

  #newCalcGrid {
    grid-template-columns: 88px auto;
    align-items: center;
  }

  #feeButton {
    margin-left: 11px;
  }

  #doubleButtons {
    flex-direction: column;
  }

  #compareButton,
  #getStartedButton {
    margin: 0 0 10px 0;
  }

  #HIWmobileButton {
    margin-top: -14px;
  }
}

@media only screen and (max-width: 570px) {
  #heroPage {
    width: 100%;
  }

  #leftBox {
    padding: 0 3%;
  }

  .tabContents {
    margin: 34px 8px;
  }
  
  .tabText {
    font-size: 13px;
  }
}
